<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="eclipse.plugin.healthassistant.preferences.CodeBreakPreferencePage"
            id="eclipse.plugin.healthassistant.preferences.CodeBreakPreferencePage"
            name="Health Assistant">
      </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="eclipse.plugin.healthassistant.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.startup">
     <startup class="eclipse.plugin.healthassistant.Activator">
     </startup>
   </extension>
</plugin>